.user {
    .banner {
        position: relative;
        margin-top: 8px;
        margin-bottom: 15px;
        gap: 16px;
        width: 100%;
        padding: 12px 10px;
        display: flex;
        overflow: hidden;
        align-items: center;
        border-radius: var(--border-radius);

        .container {
            display: flex;
            gap: 24px;
            align-items: center;
            flex-direction: row;
            width: 100%;
        }

        .userDetail {
            display: flex;
            flex-grow: 1;
            gap: 2px;
            flex-direction: column;
            font-size: 1.5rem;
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .avatar {
            cursor: pointer;
            transition: 0.2s ease filter;

            &:hover {
                filter: brightness(80%);
            }
        }

        .userid {
            font-size: 12px;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 4px;
            color: var(--tertiary-foreground);

            a {
                color: inherit;
                cursor: pointer;
            }
        }
    }

    .details {
        display: flex;
        padding: 1em 0;
        gap: 10px;
        flex-direction: column;

        /*border-top: 1px solid var(--secondary-header);
        border-width: 100%;*/

        > div {
            gap: 12px;
            /*padding: 4px;*/
            padding: 8px 12px;
            display: flex;
            align-items: center;
            flex-direction: row;
            background: var(--secondary-header);
            border-radius: var(--border-radius);

            > svg {
                flex-shrink: 0;
            }
        }

        p {
            margin: 0;
            font-size: 1rem;
            color: var(--tertiary-foreground);
        }
    }

    .preview {
        width: 100%;
        display: grid;
        place-items: center;
        grid-template-columns: minmax(auto, 100%);
        padding-bottom: 30px;

        > div {
            width: 100%;
            max-width: 560px;
        }
    }

    .row {
        gap: 20px;
        display: flex;

        .pfp {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .background {
            flex-grow: 1;
        }
    }

    .buttons {
        display: flex;
        gap: 12px;
    }
}

@media only screen and (max-width: 800px) {
    .user {
        .banner {
            gap: 18px;
            padding: 0;
            flex-direction: column;

            > button {
                width: 100%;
            }
        }
    }
}

.appearance {
    .theme {
        min-width: 0;
        display: flex;
        flex-direction: column;
    }

    .themes {
        gap: 8px;
        display: flex;
        width: 100%;

        img {
            cursor: pointer;
            border-radius: var(--border-radius);
            transition: border 0.3s;
            border: 3px solid transparent;
            width: 100%;

            &[data-active="true"] {
                cursor: default;
                border: 3px solid var(--accent);
                &:hover {
                    border: 3px solid var(--accent);
                }
            }

            &:hover {
                border: 3px solid var(--tertiary-background);
            }
        }
    }

    details {
        summary {
            font-size: 0.8125rem;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--secondary-foreground);
            cursor: pointer;
        }
    }

    .emojiPack {
        gap: 12px;
        display: flex;
        flex-direction: column;

        .row {
            gap: 12px;
            display: flex;

            > div {
                flex: 1;
                display: flex;
                flex-direction: column;
            }
        }

        .button {
            padding: 2rem 1.2rem;
            display: grid;
            place-items: center;

            cursor: pointer;
            transition: border 0.3s;
            background: var(--hover);
            border: 3px solid transparent;
            border-radius: var(--border-radius);

            img {
                max-width: 100%;
            }

            &[data-active="true"] {
                cursor: default;
                background: var(--secondary-background);
                border: 3px solid var(--accent);

                &:hover {
                    border: 3px solid var(--accent);
                }
            }

            &:hover {
                background: var(--secondary-background);
                border: 3px solid var(--tertiary-background);
            }
        }

        h4 {
            text-transform: unset;

            a {
                opacity: 0.7;
                color: var(--accent);
                font-weight: 600;
                &:hover {
                    text-decoration: underline;
                }
            }

            @media only screen and (max-width: 800px) {
                a {
                    display: block;
                }
            }
        }
    }

    .display {
        gap: 8px;
        display: flex;
        flex-direction: column;
    }

    .actions {
        gap: 8px;
        display: flex;
        margin: 18px 0 8px 0;

        .code {
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 0.875rem;
            min-width: 0;
            flex-grow: 1;
            padding: 8px;
            font-family: var(--monospace-font);
            border-radius: var(--border-radius);
            background: var(--secondary-background);

            > div {
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    .overrides {
        row-gap: 8px;
        display: grid;
        column-gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin-bottom: 20px;

        .entry {
            padding: 12px;
            margin-top: 8px;
            border: 1px solid black;
            border-radius: var(--border-radius);

            span {
                flex: 1;
                display: block;
                font-weight: 600;
                font-size: 0.875rem;
                margin-bottom: 8px;
                text-transform: capitalize;

                background: inherit;
                background-clip: text;
                -webkit-background-clip: text;
            }

            .override {
                gap: 8px;
                display: flex;

                .picker {
                    width: 38px;
                    height: 38px;
                    display: grid;
                    cursor: pointer;
                    place-items: center;
                    border-radius: var(--border-radius);
                    background: var(--primary-background);
                }

                input[type="text"] {
                    width: 0;
                    min-width: 0;
                    flex-grow: 1;
                }
            }

            .input {
                width: 0;
                height: 0;
                position: relative;

                input {
                    opacity: 0;
                    border: none;
                    display: block;
                    cursor: pointer;
                    position: relative;

                    top: 48px;
                }
            }
        }
    }
}

.sessions {
    .session {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-direction: row;

        .detail {
            display: flex;
            gap: 12px;
            flex-grow: 1;

            svg {
                margin-top: 1px;
            }
        }
    }

    .entry {
        padding: 16px;
        display: flex;
        margin: 10px 0;
        flex-direction: column;
        border-radius: var(--border-radius);
        background: var(--secondary-header);

        &[data-active="true"] {
            color: var(--primary-background);
            background: var(--accent);
            margin-bottom: 20px;

            .session .detail .info > input {
                &:focus {
                    border-bottom: 2px solid var(--primary-background);
                }
            }
        }

        &[data-deleting="true"] {
            opacity: 0.5;
        }

        .name {
            font-weight: 600;
            border-bottom: 2px solid transparent;
        }

        input {
            background: transparent;
            border: 0;
            font-family: inherit;
            font-size: 1rem;
            padding: 0;
            outline: 0;
            border-radius: 0;
            color: inherit;
            width: 100%;

            &:focus {
                border-bottom: 2px solid var(--accent);
            }

            &[data-active="true"] {
                border-bottom: 2px solid inherit;
            }
        }

        .label {
            margin-bottom: 8px;
            color: var(--primary-text);
            font-size: 0.75rem;
            font-weight: 600;
        }

        .info {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            .name {
                text-transform: capitalize;
                text-overflow: ellipsis;
            }

            .time {
                font-size: 0.75rem;
                color: var(--teriary-text);
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    > button {
        margin-top: 20px;
    }

    @media only screen and (max-width: 800px) {
        .session {
            align-items: unset;
            flex-direction: column;
            gap: 20px;

            > button {
                width: 100%;
            }
        }

        > button {
            width: 100%;
        }
    }
}

.languages {
    .list {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        gap: 8px;

        .entry {
            display: flex;
            height: 45px;
            padding: 0 8px;
            background: var(--secondary-header);
            border-radius: var(--border-radius);
            margin-top: 0;

            &:hover {
                background: var(--secondary-background);
            }
        }

        .entry > span > span {
            gap: 12px;
            display: flex;
            align-items: center;
            flex-direction: row;

            .flag {
                display: flex;

                > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                > img {
                    height: 32px !important;
                }
            }

            .description {
                color: var(--primary-text);
            }
        }
    }
}

.feedback .options {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.experiments {
    height: calc(100% - 40px);

    .empty {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.myBots {

    .botCard {
        background: var(--secondary-background);
        margin: 8px 0;
        padding: 12px;
        border-radius: var(--border-radius);    

        h5 { margin-bottom: 1em }
        h3 { margin-bottom: 0 }
    }

    .botSection {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 5px;

        label { margin-top: 0 }
    }

    .infoheader {
        gap: 8px;
        width: 100%;
        padding: 6px 5px;
        display: flex;
        overflow: hidden;
        align-items: center;
        border-radius: var(--border-radius);

        .container {
            display: flex;
            gap: 16px;
            align-items: center;
            flex-direction: row;
            width: 100%;
        }

        .userDetail {
            display: flex;
            flex-grow: 1;
            gap: 2px;
            flex-direction: column;
            font-size: 1.2rem;
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .userName {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }

        .avatar {
            cursor: pointer;
            transition: 0.2s ease filter;

            &:hover {
                filter: brightness(80%);
            }
        }

        .userid {
            font-size: 12px;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 4px;
            color: var(--tertiary-foreground);

            a {
                color: inherit;
                cursor: pointer;
            }
        }
    }

    .buttonRow {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

section {
    margin-bottom: 20px;
}
