[submodule "external/lang"]
	path = external/lang
	url = https://github.com/revoltchat/translations
[submodule "external/components"]
	path = external/components
	url = https://github.com/revoltchat/components
[submodule "external/revolt.js"]
	path = external/revolt.js
	url = https://github.com/revoltchat/revolt.js
