# Allow us to use the monorepo with client being the root
ignore-workspace-root-check=true

# We cannot satisfy certain peer dependencies
strict-peer-dependencies=false

# Required for Vite.js to resolve packages
shamefully-hoist=true
