.attachment {
    display: grid;
    grid-auto-columns: min(100%, 480px);
    grid-auto-flow: row dense;
    
    margin: .125rem 0 .125rem;
    width: max-content;
    max-width: 100%;
    
    &[data-spoiler="true"] {
        filter: blur(30px);
        pointer-events: none;
    }

    &.audio {
        gap: 4px;
        padding: 6px;
        display: flex;
        border-radius: 6px;
        flex-direction: column;
        background: var(--secondary-background);
        width: 400px;
        max-width: 100%;

        > audio {
            width: 100%;
        }
    }

    &.file {
        > div {
            width: 400px;
            max-width: 100%;
            padding: 12px;
            user-select: none;
            width: fit-content;
            border-radius: 6px;
        }
    }

    &.text {
        width: 100%;
        max-width: 800px;
        overflow: hidden;
        grid-auto-columns: unset;

        border-radius: 6px;

        .textContent {
            height: 140px;
            padding: 12px;
            overflow-x: auto;
            overflow-y: auto;
            border-radius: 0 !important;
            background: var(--secondary-header);
    
            pre {
                margin: 0;
            }
    
            pre code {
                font-family: var(--monoscape-font), sans-serif;
            }

            &[data-loading="true"] {
                display: flex;
                
                > * {
                    flex-grow: 1;
                }
            }
        }
    }
}

.margin {
    margin-top: 4px;
}

.container {
    max-width: 100%;
    overflow: hidden;
    width: fit-content;

    > :first-child {
        width: min(480px, 100%, var(--width));
    }
}

.container, .attachment, .image {
    border-radius: 6px;
}
