.identityMain {
  display: flex;
  flex-direction: row;
  gap: 10px;

  > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
