* {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;
    scrollbar-width: var(--scrollbar-thickness-ff);

    -webkit-touch-callout: none;
}

html {
    // contain: content;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-color: var(--background) !important;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: var(--font), sans-serif;
    font-variant-ligatures: var(--ligatures);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    caret-color: var(--accent);
    color: var(--foreground);

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    overscroll-behavior: none;

    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

#app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
