:root {
    --ligatures: none;
    --text-size: 14px;
    --font: "Open Sans";
    --app-height: 100vh;
    --codeblock-font: "Fira Code";
    --sidebar-active: var(--secondary-background);

    --background-rgb: (25,25,25); //THIS IS SO THAT WE CAN HAVE CUSTOM BACKGROUNDS FOR THE CLIENT, CONVERTS THE HEX TO AN RGB VALUE FROM --background
    --background-rgba: rgba(var(--background-rgb), .8); //make the opacity also customizable
    
    --input-border-width: 2px;

    --textarea-padding: 16px;
    --textarea-line-height: 20px;
    --message-box-padding: 14px 14px 14px 0;

    --bottom-navigation-height: 50px;
}
