.list {
    padding: 0 20px 20px 20px;
    user-select: none;
    overflow-y: scroll;

    .overline {
        display: flex;
        position: sticky;
        align-items: center;
        top: 0;
        background: var(--primary-background);
        padding: 5px 0;
        z-index: 10;
        cursor: pointer;
        
        svg {
            margin-inline-end: 4px;
        }
    }

    details {
        summary {
            outline: none;
            list-style: none;

            &::marker, &::-webkit-details-marker {
                display: none;
            }

            svg {
                transition: .2s ease transform;
            }
        }

        &:not([open]) {
            summary svg {
                transform: rotateZ(-90deg);
            }
        }
    }

    &[data-empty="true"] {
        img {
            height: 120px;
            border-radius: 8px;
        }

        gap: 16px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

.friend {
    padding: 0 10px;
    height: 60px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;

    &:hover {
        background: var(--secondary-background);

        :global(.button) {
            background-color: var(--primary-background);
        }
    }

    .name {
        flex-grow: 1;
        margin: 0 12px;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        text-overflow: ellipsis;
        overflow: hidden;

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .subtext {
            font-size: 12px;
            font-weight: 400;
            color: var(--tertiary-foreground);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .actions {
        display: flex;
        gap: 12px;

        .button {
            width: 36px;
            height: 36px;

            &:hover.error {
                background: var(--error);
            }

            &:hover.success {
                background: var(--success);
            }
        }
    }
}

.divider {
    width: 1px;
    height: 24px;
    margin: 0 8px;
    background: var(--primary-background);
}

@media only screen and (max-width: 768px) {
    .list {
        padding: 0 8px 8px 8px;
    }

    .call {
        display: none;
    }
}

//! FIXME: Move this to the Header component, do this:
// 1. Check if header has topic, if yes, flex-grow: 0 on the title.
// 2. If header has no topic (example: friends page), flex-grow 1 on the header title.
.title {
    flex-grow: 1;
}