.onboarding {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    div {
        flex: 1;

        &.header {
            gap: 8px;
            padding: 3em;
            display: flex;
            text-align: center;

            h1 {
                margin: 0;
            }
        }

        &.form {
            flex-grow: 1;
            max-width: 420px;

            img {
                margin: auto;
                display: block;
                max-height: 420px;
                border-radius: var(--border-radius);
            }

            input {
                width: 100%;
            }

            button {
                display: block;
                margin: 24px 0;
                margin-left: auto;
            }
        }
    }
}
